body {
  font-family: 'Rubik', "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background: -webkit-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: -o-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: linear-gradient(115deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
}

.visually-hidden:not(:focus):not(:hover), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* === HEADER STARTS === */
.header-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.header-title h2:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
    left: -1200px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    left: -1200px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.article {
  margin: 0 0 40px;
}

.img {
  text-align: center;
}

.img img {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 40px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.main-nav-home::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/home.svg");
}

.main-nav-gallery::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/camera.svg");
}

.main-nav-info::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/profile.svg");
}

.main-nav-mail::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/envelop.svg");
}

.main-nav-item:hover {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* === HEADER ENDS === */
/* === MAIN STARTS === */
.article p::first-letter {
  font-size: 200%;
  padding-left: 40px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.skills h2 {
  padding-left: 20px;
}

.skill-set {
  text-align: center;
}

.skill-set span:first-child {
  color: black;
  font-size: 22px;
}

.skill-set span {
  color: white;
  border: 1px solid black;
  border-radius: 7px;
}

.skill-set span:first-child {
  border: none;
}

.skills {
  border-radius: 5px;
  border: 1px solid #363636;
  border-bottom-width: 3px;
}

.skills:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* === MAIN ENDS === */
/* === PORTFOLIO STARTS === */
.portfolio-header {
  padding: 20px;
}

/* .mySlides {
  display: none
} */
.slideshow-container {
  max-width: 700px;
  /* position: relative; */
  margin: 0 auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: 40px;
  width: auto;
  padding: 15px;
  font-size: 32px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(86, 216, 228, 0.4);
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(86, 216, 228, 1);
}

.mySlides {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.my-slides-img {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
/* === PORTFOLIO ENDS === */
/* === FOOTER STARTS === */
.main-social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.main-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}

.main-social-webpage {
  text-align: center;
}

.copyright {
  text-decoration: none;
  color: black;
}

.social-button {
  width: 64px;
  height: 64px;
  /* background-color: #e1e1e1; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.social-button-linkedin::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/linkedin2.svg");
}

.social-button-github::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/github.svg");
}

.social-button-facebook::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -65px;
  margin-left: -65px;
  background-image: url("../img/facebook.svg");
}

.social-button:hover {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* === FOOTER ENDS === */
/* === GALLERY STARTS === */
.gallery-img {
  border-radius: 10px;
  /* border: 2px solid #ddd; */
  border-bottom-width: 3px;
  padding: 5px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.gallery-img:hover {
  -webkit-box-shadow: 0 0 20px lightblue;
          box-shadow: 0 0 20px lightblue;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery-img:nth-child(4):hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

/* === GALLERY ENDS === */
/* === RESUME STARTS === */
.main {
  padding: 20px 0;
}

.main::first-letter {
  font-size: 200%;
  padding-left: 40px;
}

.education div {
  padding: 10px 20px;
}

.education p:first-child {
  color: white;
}

.education p:nth-child(2) {
  text-decoration: underline;
}

.resume-header {
  text-align: right;
}

.resume-header a {
  color: white;
  text-decoration: none;
}

.resume-skills li {
  list-style: circle;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 0;
}

/* === RESUME ENDS === */
/* === MODAL STARTS === */
.form-control {
  border-radius: 5px;
  border: 1px solid #363636;
  border-bottom-width: 3px;
  padding: 5px;
}

.contact-mail a,
.contact-mobile a {
  color: black;
}

.contact-mail a:hover,
.contact-mobile a:hover {
  color: white;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.contact-mail-link {
  position: relative;
  padding-left: 30px;
}

.contact-mail-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-mobile-link {
  position: relative;
  padding-left: 30px;
}

.contact-mobile-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 65%;
  -webkit-box-shadow: 0 30px 50px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 30px 50px 0 rgba(0, 1, 1, 0.75);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  border-radius: 4px 4px 0 0;
  padding: 5px 15px;
  background: -webkit-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: -o-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: linear-gradient(115deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  color: white;
}

.modal-footer {
  border-radius: 0 0 4px 4px;
  padding: 5px 10px 0 0;
  background: -webkit-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: -o-linear-gradient(335deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
  background: linear-gradient(115deg, rgba(86, 216, 228, 1) 5%, rgba(160, 1, 232, 2) 95%);
}

/* === MODAL ENDS === */
